* {
  margin: 0px;
  padding: 0px;
}
*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 }
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
html, body {
  height: 100%;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.45;
  color: hsl(198,5%,50%);
  background: hsl(198,8%,98%);
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  color: #222;
  text-decoration: none;
}
a,
a:hover,
a:active,
a:visited {
  outline: 0px;
}
a:hover {
  color: rgba(0,0,0,.13);
}
img {
  outline: 0;
  border: 0;
  vertical-align: bottom;
}

h1 {
  font-size: 44px;
  line-height: 1;
  font-weight: normal;
  margin: 0 0 13px;
  color: #333;
}
  h1 + p {
    font-size: 22px;
  }
h2 {
  font-size: 34px;
  line-height: 1;
  font-weight: normal;
  margin: 0 0 21px;
  color: #333;
}
p {
  margin: 0 0 21px;
}

.arche {
  max-width: 712px;
  margin: 0 34px;
  padding: 30px 0;
}

header {
  padding: 21px 55px;
}

.articles {
  background: white;
  border: 1px solid hsl(198,34%,90%);
  border-radius: 3px;
  box-shadow: 0 0 0 6px hsl(198,40%,95%), 0 1px 0 6px white;
}
.article {
  margin: 55px;
}
.journey h2 {
  margin-bottom: 0;
}
.article p {
  white-space: pre-wrap;
  line-height: 1.625;
}
.meta {
  color: #bbb;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 6px;
}

.gallery {
  margin: 21px 0;
}
.gallery figure {
  display: inline-block;
  margin-bottom: 8px;
}
.gallery figcaption {
  margin: 8px 5px 13px;
}
.gallery img {
  width: 100%;
}

.article.editor {
  margin: 0;
  padding: 55px;
  border-bottom: 1px solid hsl(198,34%,90%);
}

label {
  display: block;
  font-size: 13px;
  margin: 0 0 8px;
}

select, 
input,
textarea,
.button,
.inputStyle {
  padding: 0 8px;
  font: inherit;
  color: black;
  border-style: solid;
  border-color: hsl(198,34%,90%);
  outline: none;
}

input,
textarea,
.button,
.inputStyle {
  margin-bottom: 13px;
}

select, 
input,
.button {
  height: 40px;
  line-height: 40px;
  -webkit-appearance: none;
     -moz-appearance: none;
      -ms-appearance: none;
          appearance: none;
}

input,
.inputStyle {
  border-width: 1px;
  border-top: none;
  border-right: none;
}

input {
  width: 100%;
  line-height: 14px;
  padding-bottom: 8px;
  padding-top: 8px;
  font-size: 100%;
  display: block;
}

select {
  vertical-align: top;
  width: 100%;
  border-radius: 0;
  border: none;
  background: none;
}
.select {
  position: relative;
  z-index: 1;
  padding-left: 63px;
}
  .transport.icon {
    width: 50px;
    height: 50px;
    background: url(../images/transport.png);
  }
  .select .icon {
    position: absolute;
    left: 0;
  }
  .select .arrow {
    right: 8px;
    top: 11px;
    position: absolute;
    font-size: 13px;
    color: hsl(198,34%,75%);
    -webkit-transform: rotate(-90deg);
    z-index: -1;
  }

textarea {
  padding-top: 3px;
  padding-bottom: 3px;
  display: block;
  width: 100%;
  min-height: 300px;
}

.addImages + input[type=file] {
  width: 0;
  height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
 
.button {
  color: inherit;
  background: none;
  width: 100%;
  text-align: center;
  border-width: 1px;
  margin-bottom: 8px;
}