extends ../layout

block content

  p.
    Speichern ist ein einfacher POST-request an "/user/USERID/trip"
  p.
    Man muss vorher nur die richtige URL bauen und das csrf-token anhängen
  p.
    Die Response beinhaltet das geupdatete Dokument mit _rev und _id
  p.
    _rev und _id werden bei jedem weiteren Request gebraucht!! Also immer mitschicken
  p.
    In der Console ist dann das neue Dokument

  button Save

  script.
    $('.button.create').click(function(){
      // trip has only name or something in it
      trip = { name: 'new felix' };

      var url = '/user/' + user_data._id + '/trip';

      $.ajax({
        type: 'POST', 
        url: url,
        data: trip,
        dataType: 'json',
        headers: { 'x-csrf-token': $('meta[name=csrf_token]').attr('content') },
        success: function(newDocument){
          trip._id = newDocument._id;
          trip._rev = newDocument._rev;
        }
      });

    });

    $('.button.save').click(function(){
      var url = '/user/' + user_data._id + '/trip/' + trip._id;

      $.ajax({
        type: 'PUT', 
        url: url,
        data: trip,
        dataType: 'json',
        headers: { 'x-csrf-token': $('meta[name=csrf_token]').attr('content') },
        success: function(newDocument){
          trip._rev = newDocument._rev;
        }
      });

    });