doctype 5
title Around the World
link(rel='stylesheet', href='css/style.css')

.arche
  header
    h1 Australia 2013
    p A travelog of my journey along the east coste of the big island in summer 2013. 1984 kilometers (1203 miles) in 32 days.
  .articles
    each section in trip
      article
        h2= section.name